.content {
  position: relative;
  box-shadow: 1px 1px 8px rgb(158, 155, 155);
  height: 450px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, rgba(32, 94, 182, 0.1), rgba(28, 85, 131, 0.1));
  // Контейнер с иконками скрыт по умолчанию
  .iconContainer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  // Показываем иконки при наведении на карточку
  &:hover .iconContainer {
    opacity: 1;
    visibility: visible;
    color: white;
  }
  &:hover {
    background: linear-gradient(45deg, rgba(95, 94, 94, 0.1), rgba(74, 74, 74, 0.1));
  }

  // Стиль для фона иконок
  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    // Изменение цвета при наведении на иконки
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
