.form {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid silver;
  gap: 5px;
  .input {
    transition: all 0.3s;
    border: 1px solid silver;
    &:focus {
      outline: none; /* убираем стандартную подсветку */
      box-shadow: none; /* убираем тень при фокусе */
      border-color: #000; /* задаем цвет границы при фокусе */
    }
  }

  .btn {
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
      outline: none !important;
      box-shadow: none !important;
      border-color: #222;
      background: #1890ff !important;
      .icon {
        color: white;
      }
    }
  }
}
