.content {
  position: relative;

  // Контейнер с иконками скрыт по умолчанию
  .iconContainer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  // Показываем иконки при наведении на карточку
  &:hover .iconContainer {
    opacity: 1;
    visibility: visible;
    color: white;
  }
  &:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }

  // Стиль для фона иконок
  .bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    // Изменение цвета при наведении на иконки
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
